button:focus {
    outline: none;
}

button:hover {
    cursor: pointer;
}

.wrapper {
    padding-top: 100px;
    text-align: center;
    color: white;
    display: flex;
    justify-content: center;
}

.main-Container {
    /* background: #E8E9EB; */
    /* border: 2px solid #908b85; */
    background-color: rgba(34, 33, 32, 0.8);
    box-shadow: 0 16px 28px 0 rgba(0, 0, 0, .8), 0 25px 55px 0 rgba(0, 0, 0, 0.21);
    font-family: 'Lato', Tahoma, Geneva, sans-serif;
    border-radius: 4px;
    margin: 20px auto;
    width: 300px;
    height: 350px;
    font-size: 14px;
    font-weight: 500;
    padding: 40px;
}

.game-Container li {
    height: 90px;
    width: 90px;
    border: 1px solid red;
    list-style: none;
}

ul {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    border: 1px solid red;
    -webkit-padding-start: 0px;
}

li {
    font-size: 74px;
}

li:hover {
    cursor: pointer;
}

.messages-Container {
    color: white;
    font-size: 16px;
    font-weight: bolder;
    align-self: flex-end;
    position: absolute;
    width: 350px;
    height: 50px;
    top: 71px;
    display: flex;
    justify-content: space-between;
    z-index: -1;
    /* -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out; */
}

.message-Box {
    width: 150px;
    height: 34px;
    padding-top: 15px;
    position: relative;
    background-color: white;
    border-radius: 2px 2px 0px 0px;
    -webkit-transition: background-color 0.3s linear;
    transition: background-color 0.3s linear;
}

.active-left {
    background-color: rgb(65, 180, 180);
}

.active-right {
    background-color: rgb(233, 127, 95);
}