<div class='header'>
    <h1>Tic Tac Toe</h1>
</div>

<div class='wrapper'>
    <div class='messages-Container'>
        <span class="message-Box" [class.active-left]='activeLeft && state === 2'>{{msg1}}</span>
        <span class="message-Box" [class.active-right]='activeRight && state === 2'>{{msg2}}</span>
    </div>
    <div class='main-Container'>
        <div class='initial-Container' *ngIf="state === 0">
            <h4>How do you want to play?</h4>
            <div class='choise-player-container'>
                <div class='vs-container' (click)='choosePlayer(1)'>
                    <svg class="icon icon-user">
                        <use xlink:href="#icon-user"></use>
                    </svg>
                    <span>VS</span>
                    <svg class="icon icon-display">
                        <use xlink:href="#icon-display"></use>
                    </svg>
                </div>
                <div class='vs-container' (click)='choosePlayer(2)'>
                    <svg class="icon icon-user">
                        <use xlink:href="#icon-user"></use>
                    </svg>
                    <span>VS</span>
                    <svg class="icon icon-user">
                        <use xlink:href="#icon-user"></use>
                    </svg>
                </div>
            </div>
        </div>
        <div class='choise-Container' *ngIf="state === 1">
            <h4>Choose X or O?</h4>
            <svg class="icon icon-circle-left" (click)='back()'>
                <use xlink:href="#icon-circle-left"></use>
            </svg>
            <div class='choise-letter-container'>
                <div class='X-container' (click)='chooseXorO("X")'>
                    <svg class="icon icon-cross">
                        <use xlink:href="#icon-cross"></use>
                    </svg>
                </div>
                <div class='O-container' (click)='chooseXorO("O")'>
                    <svg class="icon icon-radio-unchecked">
                        <use xlink:href="#icon-radio-unchecked"></use>
                    </svg>
                </div>
            </div>
        </div>
        <div class='game-Container' *ngIf="state === 2">
            <div class='panel-container'>
                <svg class="icon icon-user">
                    <use xlink:href="#icon-user"></use>
                </svg>
                <span>:{{player1Wins}}</span>
                <svg class="icon icon-display" *ngIf='numPlayers === 1'>
                    <use xlink:href="#icon-display"></use>
                </svg>
                <svg class="icon icon-user" *ngIf='numPlayers === 2'>
                    <use xlink:href="#icon-user"></use>
                </svg>
                <span>:{{player2Wins}}</span>
                <svg class="icon icon-balance-scale">
                    <use xlink:href="#icon-balance-scale"></use>
                </svg>
                <span>:{{draws}}</span>
                <svg class="icon icon-spinner11" (click)='reset()'>
                    <use xlink:href="#icon-spinner11"></use>
                </svg>
            </div>
            <div class='border-container'>
                <div class='board-Container'>
                    <ul>
                        <li *ngFor='let num of board; let i = index' (click)='playerTurn(i)' class='cell'>
                            <span *ngIf='num === "X" || num === "O"'>{{num}}</span>
                        </li>
                    </ul>
                </div>
                <div class='overlay' *ngIf='finishedGame'>
                    <h3 class='message-game'>{{finalMessage}}</h3>
                </div>
            </div>
        </div>
    </div>
</div>