/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css?family=Rock+Salt');
html,
body,
p {
    margin: 0;
    padding: 0;
}

html {
    min-height: 100%;
    min-width: 100%;
}

body {
    /* background-image: linear-gradient(40deg, rgba(56, 180, 15, 0.77), rgba(248, 134, 134, 0.57)); */
    /* background-color: #797570; */
    background: linear-gradient(60deg, #0d503e, #F1F2B5);
    color: #333;
    width: 100%;
}

a,
a:focus,
a:hover {
    color: #7be6ff;
    text-decoration: none;
    font-weight: 600;
}

.text-center {
    text-align: center;
}

img {
    vertical-align: middle;
}

.flex-footer p {
    font-weight: 600;
}

.flex-container {
    min-height: 510px;
    height: 100vh;
    width: 100vw;
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
}

.flex-header {
    margin-top: auto;
    color: white;
}

.flex-content {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.flex-header h1 {
    font-family: 'Rock Salt', cursive;
}

.flex-footer {
    margin-top: auto;
    padding-top: 10px;
    padding-bottom: 10px;
}

.icon {
    display: inline-block;
    width: 1em;
    height: 1em;
    stroke-width: 0;
    stroke: currentColor;
    fill: currentColor;
}

.icon-apps {
    vertical-align: middle;
    color: #2065a5;
    font-size: 30px;
    margin-top: -3px;
}


/* Fork on Github styles */

.github-corner:hover .octo-arm {
    animation: octocat-wave 560ms ease-in-out
}

@keyframes octocat-wave {
    0%,
    100% {
        transform: rotate(0)
    }
    20%,
    60% {
        transform: rotate(-25deg)
    }
    40%,
    80% {
        transform: rotate(10deg)
    }
}

@media (max-width:500px) {
    .github-corner:hover .octo-arm {
        animation: none
    }
    .github-corner .octo-arm {
        animation: octocat-wave 560ms ease-in-out
    }
}